/*Global CSS*/
@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary: #0f0f0f;
  --secondary: #ffffff;
  --chat-bg: #e9e9e9;

  --primary-text: var(--primary);
  --secondary-text: var(--secondary);

  --error-text: #721c24;
  --error: #f8d7da;

  --msg-text: #ffffff;
  --incoming-bg: #818181;
  --outgoing-bg: #87b1c2;

  --shadow: rgba(212, 212, 212, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--primary);
  padding: 0 10px;
}
.wrapper {
  background: var(--secondary);
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 var(--shadow);
}

/* Login & Signup Form CSS Start */
.form {
  padding: 20px 30px;
  background: var(--secondary);
  border-radius: 10px;
}
.form header {
  color: var(--primary);
  font-size: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  font-family: "Sacramento", cursive;
  font-weight: 900;
  text-align: center;
}
.form form {
  margin: 20px 0;
}
.form form .error-text {
  color: var(--error-text);
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: var(--error);
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}
.form form .name-details {
  display: flex;
}
.form form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
  padding: 5px;
}
.form form .field label {
  color: var(--primary-text);
  margin-bottom: 4px;
}
.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form form .field input {
  outline: none;
}
.form form .image input {
  color: var(--primary-text);
  font-size: 17px;
}
.form form .button input {
  height: 45px;
  border: none;
  font-size: 17px;
  background: var(--primary);
  color: var(--secondary-text);
  border-radius: 5px;
  cursor: pointer;
}
.form form .field i {
  position: absolute;
  right: 15px;
  top: 65%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}
.form form .field i.active::before {
  color: var(--primary-text);
  content: "\f070";
}
.form .link {
  color: var(--primary-text);
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a {
  color: var(--primary-text);
  font-weight: bold;
}
.form .link a:hover {
  text-decoration: underline;
}

/* Users List CSS Start */
.users {
  padding: 25px 30px;
}
.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}
.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}
.users header img {
  height: 50px;
  width: 50px;
}
:is(.users, .users-list) .content {
  display: flex;
  align-items: center;
}
:is(.users, .users-list) .content .details {
  color: var(--primary-text);
  margin-left: 20px;
}
:is(.users, .users-list) .details span {
  color: var(--primary-text);
  font-size: 18px;
  font-weight: 500;
}
.users header .logout {
  display: block;
  background: var(--primary);
  color: var(--secondary-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}
.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.users .search .text {
  color: var(--primary-text);
  font-size: 18px;
}
.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.users .search input.show {
  opacity: 1;
  pointer-events: auto;
}
.users .search button,
.users .details a {
  position: relative;
  padding: 10px;
  z-index: 1;
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: var(--secondary);
  color: var(--primary-text);
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}
.users .search button.active {
  background: var(--primary);
  color: var(--secondary-text);
}
.search button.active i::before {
  content: "\f00d";
}
.users-list {
  color: var(--primary-text);
  max-height: 350px;
  overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}
.users-list a {
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}
.users-list a:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}
.users-list a img {
  height: 40px;
  width: 40px;
}
.users-list a .details p {
  color: #67676a;
}
.users-list a .status-dot {
  font-size: 12px;
  color: #468669;
  padding-left: 10px;
}
.users-list a .status-dot.offline {
  color: #ff0019;
}

/* Chat Area CSS Start */
.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon {
  color: var(--primary-text);
  font-size: 18px;
}
.chat-area header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-area header .details span {
  font-size: 17px;
  font-weight: 500;
}
.chat-box {
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: var(--chat-bg);
  box-shadow: inset 0 32px 32px -32px var(--shadow),
    inset 0 -32px 32px -32px var(--shadow);
}
.chat-box .text {
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat {
  margin: 15px 0;
}
.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px var(--shadow), 0rem 16px 16px -16px var(--shadow);
}
.chat-box .outgoing {
  display: flex;
}
.chat-box .outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p {
  background: var(--outgoing-bg);
  color: var(--msg-text);
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming {
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img {
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details {
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p {
  background: var(--incoming-bg);
  color: var(--msg-text);
  border-radius: 18px 18px 18px 0;
}
.typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button {
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: var(--primary-text);
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.typing-area button.active {
  opacity: 1;
  pointer-events: auto;
}

/* Edit Page */
.edit header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}

.users {
  padding: 25px 30px;
}
.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}
.edit header img {
  height: 50px;
  width: 50px;
}
:is(.edit) .content {
  display: flex;
  align-items: center;
}
:is(.edit) .content .details {
  color: var(--primary-text);
  margin-left: 20px;
}
:is(.edit) .details span {
  color: var(--primary-text);
  font-size: 18px;
  font-weight: 500;
}
.edit header .logout {
  display: block;
  background: var(--primary);
  color: var(--secondary-text);
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}
.edit header .back-icon {
  color: var(--primary-text);
  font-size: 18px;
}
.edit a img {
  height: 40px;
  width: 40px;
}

.edit header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}

/* Responive media query */
@media screen and (max-width: 450px) {
  .form,
  .users {
    padding: 20px;
  }
  .form header {
    text-align: center;
  }
  .form form .name-details {
    flex-direction: column;
  }
  .form .name-details .field:first-child {
    margin-right: 0px;
  }
  .form .name-details .field:last-child {
    margin-left: 0px;
  }

  .users header img {
    height: 45px;
    width: 45px;
  }
  .users header .logout {
    padding: 6px 10px;
    font-size: 16px;
  }
  :is(.users, .users-list) .content .details {
    margin-left: 15px;
  }

  .users-list a {
    padding-right: 10px;
  }

  .chat-area header {
    padding: 15px 20px;
  }
  .chat-box {
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p {
    font-size: 15px;
  }
  .chat-box .outogoing .details {
    max-width: 230px;
  }
  .chat-box .incoming .details {
    max-width: 265px;
  }
  .incoming .details img {
    height: 30px;
    width: 30px;
  }
  .chat-area form {
    padding: 20px;
  }
  .chat-area form input {
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button {
    width: 45px;
  }
}
